export PATH="${PWD}/apache_hive_mirror/apache-hive-extracted/bin:${PATH}"

if [[ -z "${KUBECONFIG}" ]]; then
  export KUBECONFIG="${PWD}/.config/kubeconfig"
fi
if [[ -z "${PACH_CONFIG}" ]]; then
  export PACH_CONFIG="${PWD}/.config/pachconfig"
fi

